body {
    background: url('/images/IMG_2769.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 600px;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

/* header styles */

    .header {
        text-align: center;
    }

    /* Navbar background color and styling */
        .nav {
            background-color: #000E52;
            border-radius: 5px;
        }
        .nav a {
            color: #FFC000;
        }

        .nav li:hover a {
            color: #000E52;
            background-color: #FFC000;
            border-radius: 0px;
        }
        
        .icon-bar {
            border: 2px solid #FFC000;
        }
        .navbar-toggle {
            background-color: #000E52;
            min-height: 60px;
            min-width: 60px;
            
        }

    /* top-of-page headings */
        h1 {
            font-size: 54px;
            margin-top: 1em;
            color: #FFC000;
        }
        
        h2 {
            font-size: 36px;
            color: #FFC000;
            text-align: center;
        }

       
        .h2_xs_screen {
            display: none;
        }

        

    /* allow line break in homepage h2 on small screens */
        @media (max-width: 412px) {
            .h2_normal_screen {
                display: none;
            }
            .h2_xs_screen {
                display: block;
            }
        }


/* main */
    
    /* Containers for albums and info */
    
    
    h3 {
            font-size: 24px;
            color: #FFC000;
            text-align: center;
        }

    .thumbnail {
        background-color: transparent;
        border: 0px;
        margin-bottom: 2em;
        margin-top: 2em;
    }

    .recent_albums .thumbnail,
    .bio .thumbnail {
        text-align: center;
        
    }

    .recent_albums img,
    .recent_albums iframe {
        height: 250px;
        width: 250px;
    }
    
/* resizes album images/iframes for smaller screens like iPhone 5 */

    @media (max-width: 360px) {
        .recent_albums img,
        .recent_albums iframe {
            max-width: 80%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
        }
    }
    

    
    
    .album_quote,
    .recent_albums ul {
        
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    
    
    .performances .thumbnail_background,
    .performances .thumbnail {
        margin-bottom: 20px;
    }
    .performances .thumbnail {
        padding: 20px;
        min-height: 350px;
    }
    .performances .thumbnail h4 {
        color: #000E52;
        font-weight: 800;
    }

    .year {
        text-align: center;
        font-size: 48px;
        line-height: 300px;
    }
    
    .performance ul {
        list-style: none;
        padding-left: 0px;
    }
    .performance li {
        padding-left: 0px;
    }

    /* thumbnail translucent background */
    .thumbnail:before {
        content:"";
        position:absolute;
        z-index:-1;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background-color: #f5f5f5;
        opacity: 0.8;
        border-radius: 10px;
        min-height: 95%;
        padding: 2em;
        margin-bottom: 2em;
        margin-top: 2em;
    }

    .thumbnail img,
    .thumbnail iframe {
        margin: 1em;
    }

    .media,
    .media .thumbnail:before,
    .media .thumbnail,
    .media .thumbnail_background {
        border-radius: 10px;
    }

    .quote {
        display: inline;
    }

    .recent_albums iframe {
        height: 275px;
        width: 275px;
    }

    /* background images while iframes load */

    #refractions {
        background: url('images/front.jpg') no-repeat;
        background-size: 275px 275px;
    }

    #migration {
        background: url('images/Migrationcover.jpg') no-repeat;
        background-size: 275px 275px;
    }

    #flight {
        background: url('images/FlightCover.jpg') no-repeat;
        background-size: 275px 275px;
    }

    


    /* album titles */

    h4 {
        font-size: 18px;
        text-align: center;
        color: #000;
    }

    .recent_albums ul {
        list-style: none;
        padding-left: 0px;
    }

    .recent_albums li {
        display: inline-block;
        padding-left: 0px;
    }

    .button {
        height: 50px;
        width: 100px;
        line-height: 50px;
        padding: 0px 5px;
        background-color: #000E52;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        color: #FFC000;
    }

    .button:hover {
        background-color: #FFC000;
        color: #000E52;
    }

/* bio */
    .bio .thumbnail {
        padding: 4em;
    }
    .bio p:first-child,
    .bio p:nth-child(2),
    .bio p:nth-child(3)
        {
            line-height: 1.5em;
            font-size: 1.1em;
        }
    .bio p:nth-child(4)
        {
            line-height: 2em;
            font-size: 0.95em;
        }

/* teaching */
    .teaching .thumbnail {
        padding: 4em;
    }
    .teaching
        {
            line-height: 1.5em;
            font-size: 1.1em;
        }
    

/* performances */

/* Height adjustment for performance boxes */
#octetNovember18 {
    height: 525px;
}

#summer18 {
    height: 600px;
}

/* footer */

    .footer {
        min-height: 200px;
        background-color: transparent;
        width: 100%;
        line-height: 1.25em;
        font-size: 1.15em;
        color: #FFC000;
        display: block;
        clear: both;
        padding: 50px 100px;
        position: absolute;
        margin-top: 3em;
    }

    .footer-right {
        text-align: right;
    }
    .footer-left {
        text-align: left;
    }

/* footer translucent background */
    .footer:before {
        content:"";
        position:absolute;
        z-index: -1;
        min-height: 200px;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background-color: #000E52;
        opacity: 0.75;
    }

    /* footer images and "buttons" */
        .skype {
            height: 32px;
            width: auto;
            margin: auto 0.5em auto auto;
            display: inline-block;
        }
        
        .smalltext {
            font-size: 12px;
        }

        .socialbutton {
            width: 55px;
            height: 55px;
            border-radius: 100%;
            line-height: 32px;
            display: table-cell;
            vertical-align: middle;
            border: 5px solid #000E52;
        }
    
        #twitter {
            background-color: #55acee;   
        }
        .socialspacer {
            background-color: transparent;
            width: 10px;
            height: 40px;
        }

        .socialbuttonimage {
            display: block;
            width: 32px;
            height: 32px;
            margin-left: auto;
            margin-right: auto;
        }
    
        #facebook {
            background-color: #3B5998;
        }

        #bandcamp, #instagram, #soundcloud {
            background-color: #ffffff;
        }

        #bandcamplogo {
            height: auto;
            width: 32px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        .button_container {
            display: inline-block;
        }


/* Media Queries */


@media (max-width: 800px) {
    .recent_albums .thumbnail {
        /* Larger font sizes for smaller device */
        
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    /* centers footer content on smaller screens */
    .footer div {
        text-align: center;
        padding: 0px;
    }
    .footer {
        padding: 10px;
    }
    
    h1 {
        /* allows h1 to clear toggle-menu */
        margin-top: 1.5em;
    }
    
    h2 {
        /* allows h2 to be on one line on small devices */
        font-size: 18px;
    }
    
}

@media (max-width: 400px) {
    
    
    iframe {
        /* smaller iframe size on iPhone 5 and other small devices */
        width: 225px;
        height: 225px;
    }
    /* background images while iframes load */
    #migration {
        background: url('images/Migrationcover.jpg') no-repeat;
        background-size: 225px 225px;
    }

    #flight {
        background: url('images/FlightCover.jpg') no-repeat;
        background-size: 225px 225px;
    }

    
}



@media (min-width: 1440px) {
    
    
    /* larger footer images and "buttons" for larger screens */
        .skype {
            height: 40px;
            width: auto;
            margin: auto 0.5em auto auto;
            display: inline-block;
        }

        .socialbutton {
            width: 65px;
            height: 65px;
            line-height: 40px;
        }
        
        .socialbuttonimage {
            display: block;
            width: 40px;
            height: 40px;
            margin-left: auto;
            margin-right: auto;
        }
        .socialspacer {
            width: 12px;
            height: 50px;
        }
    

        #bandcamplogo {
            height: auto;
            width: 40px;
            margin-left: auto;
            margin-right: auto;
        }

}

@media (max-width: 1800px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

@media (max-width: 768px) {
    .navbar li,
    .navbar ul {
        max-width: 200px;
        text-align: right;
    }
}
 
